In [1]:
import pandas as pd
import requests as rq
import json
from datetime import datetime as dt
import ast

In [2]:
api = rq.get("https://api.cartolafc.globo.com/atletas/mercado")

In [3]:
market = json.loads(api.text)

In [4]:
market.keys()

dict_keys(['atletas', 'clubes', 'posicoes', 'status'])

In [5]:
round_num = '34'

In [6]:
roundN = pd.DataFrame(market["atletas"])

In [7]:
with open("../../status_id.json") as file:
    status_id = json.load(file)
with open("../../positions.json") as file:
    pos_id = json.load(file)

In [8]:
roundN = roundN[["rodada_id", "atleta_id", "nome", "apelido", "posicao_id", "clube_id", "scout", "pontos_num", "preco_num", "variacao_num"]]
roundN.columns = ["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "scout", "total_score", "current_price", "price_delta"]

In [9]:
roundN.position = roundN.position.apply(lambda x: pos_id[str(x)])

In [10]:
def scout_parser(scout, col_names):
    scout_dict = ast.literal_eval(scout)
    scout_list = []
    for col in col_names:
        try:
            el = scout_dict[col]
        except:
            el = 0
        scout_list.append(el)
    return pd.DataFrame(columns = col_names, data = [scout_list]).iloc[0]

In [11]:
col_names = ["G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC"]
roundN[col_names] = roundN.scout.apply(lambda x: scout_parser(str(x), col_names))
roundN = roundN[["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC", "total_score", "current_price", "price_delta"]]

In [12]:
roundN.head(10)

,round_num,player_id,player_name,player_nickname,position,team_id,G,A,FT,FD,...,DD,RB,GC,CV,CA,GS,FC,total_score,current_price,price_delta
0,34,101729,Fabio Augusto Luciano da Silva,Fabinho,ATA,276,0,0,0,0,...,0,0,0,0,0,0,1,0.00,0.77,0.00
1,34,37655,Rafael Martiniano de Miranda Moura,Rafael Moura,ATA,290,4,0,0,3,...,0,6,0,1,4,0,39,5.50,4.26,0.79
2,34,37246,Ney Franco da Silveira Júnior,Ney Franco,TEC,290,0,0,0,0,...,0,0,0,0,0,0,0,6.23,10.06,0.73
3,34,37281,Luis Antônio Venker de Menezes,Mano Menezes,TEC,275,0,0,0,0,...,0,0,0,0,0,0,0,3.21,10.27,-0.40
4,34,101721,João Pedro Soares Borges,João Pedro Borges,GOL,267,0,0,0,0,...,0,0,0,0,0,0,0,0.00,1.00,0.00
5,34,101716,Bruno Roberto Pereira da Silva,Bruninho,MEI,282,2,0,0,8,...,0,6,0,0,0,0,9,0.30,2.34,-0.18
6,34,101720,Matheus dos Santos Miranda,Miranda,ZAG,267,0,0,0,0,...,0,1,0,0,0,0,2,0.00,2.57,0.00
7,34,101719,Rafael de Carvalho França,Rafael França,LAT,267,0,0,0,0,...,0,0,0,0,0,0,0,0.00,2.00,0.00
8,34,101717,Marrony da Silva Liberato,Marrony,ATA,267,2,3,1,11,...,0,33,0,1,6,0,46,0.00,12.24,0.00
9,34,37646,Ebert William Amâncio,Betão,ZAG,314,0,0,0,1,...,0,32,0,1,6,0,20,0.00,3.97,0.00

In [13]:
roundN.to_csv("2019_round"+ round_num + "_scouts.csv", index=False)

In [21]:
status = roundN[["rodada_id", "atleta_id", "status_id"]]

In [22]:
status.rodada_id = status.rodada_id + 1
now = dt.now()
status["query_time"] = dt(now.year, now.month, now.day, now.hour, now.minute, now.second)
status.status_id = status.status_id.apply(lambda x: status_id[str(x)])

C:\Users\fellipefcm\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
C:\Users\fellipefcm\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
status = status[["rodada_id", "query_time", "atleta_id", "status_id"]]
status.columns = ["round_num", "query_time", "player_id", "status_id"]
status.head()

   round_num          query_time  player_id   status_id
0         33 2019-11-15 23:55:04      37646  Contundido
1         33 2019-11-15 23:55:04      37662  Contundido
2         33 2019-11-15 23:55:04      50317   ProvÃ¡vel
3         33 2019-11-15 23:55:04      37673        Nulo
4         33 2019-11-15 23:55:04      50313        Nulo

In [24]:
filename = "../status/2019_round"
if status.round_num[0] < 10:
    filename = filename + "0" + str(status.round_num[0]) + "_status.csv"
else:
    filename = filename + str(status.round_num[0]) + "_status.csv"

status.to_csv(filename, index=False)