In [1]:
import pandas as pd
import requests as rq
import json
from datetime import datetime as dt
import ast

In [2]:
api = rq.get("https://api.cartolafc.globo.com/atletas/mercado")

In [3]:
market = json.loads(api.text)

In [4]:
market.keys()

dict_keys(['atletas', 'clubes', 'posicoes', 'status'])

In [5]:
round_num = '18'

In [6]:
roundN = pd.DataFrame(market["atletas"])

In [7]:
with open("../../status_id.json") as file:
    status_id = json.load(file)
with open("../../positions.json") as file:
    pos_id = json.load(file)

In [8]:
roundN = roundN[["rodada_id", "atleta_id", "nome", "apelido", "posicao_id", "clube_id", "scout", "pontos_num", "preco_num", "variacao_num"]]
roundN.columns = ["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "scout", "total_score", "current_price", "price_delta"]

In [9]:
roundN.position = roundN.position.apply(lambda x: pos_id[str(x)])

In [10]:
def scout_parser(scout, col_names):
    scout_dict = ast.literal_eval(scout)
    scout_list = []
    for col in col_names:
        try:
            el = scout_dict[col]
        except:
            el = 0
        scout_list.append(el)
    return pd.DataFrame(columns = col_names, data = [scout_list]).iloc[0]

In [11]:
col_names = ["G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC"]
roundN[col_names] = roundN.scout.apply(lambda x: scout_parser(str(x), col_names))
roundN = roundN[["round_num", "player_id", "player_name", "player_nickname", "position", "team_id", "G", "A", "FT", "FD", "FF", "FS", "PP", "I", "PE", "SG", "DP", "DD", "RB", "GC", "CV", "CA", "GS", "FC", "total_score", "current_price", "price_delta"]]

In [12]:
roundN.head(10)

,round_num,player_id,player_name,player_nickname,position,team_id,G,A,FT,FD,...,DD,RB,GC,CV,CA,GS,FC,total_score,current_price,price_delta
0,18,101911,Gabriel Calabres Nunes,Gabriel Calabres,MEI,315,0,0,0,0,...,0,0,0,0,0,0,0,0.00,2.00,0.00
1,18,101885,Jonas Gabriel da Silva Nunes,Toró,ATA,276,2,0,0,3,...,0,8,0,1,1,0,17,0.00,5.41,0.00
2,18,101846,Iury de Oliveira Nascimento,Iury,LAT,314,0,1,0,0,...,0,10,0,0,1,0,11,-2.00,5.51,-2.07
3,18,101796,Gonzalo Rodrigo Carneiro Méndez,Gonzalo Carneiro,ATA,276,0,0,0,0,...,0,0,0,0,0,0,0,0.00,5.00,0.00
4,18,101861,Felipe Fernandes Sousa,Felipe Sousa,ATA,282,0,0,0,0,...,0,0,0,0,0,0,0,0.00,1.00,0.00
5,18,101803,Carlos Augusto Zopalato Neves,Carlos Augusto,LAT,264,1,0,0,0,...,0,4,0,0,1,0,4,0.00,4.81,-0.21
6,18,101837,Lucas Paes Souza,Lucas Paes,GOL,276,0,0,0,0,...,0,0,0,0,0,0,0,0.00,2.00,0.00
7,18,36940,Oswaldo de Oliveira,Oswaldo de Oliveira,TEC,266,0,0,0,0,...,0,0,0,0,0,0,0,4.99,7.23,0.81
8,18,101729,Fabio Augusto Luciano da Silva,Fabinho,ATA,276,0,0,0,0,...,0,0,0,0,0,0,1,-0.50,0.77,-0.23
9,18,101721,João Pedro Soares Borges,João Pedro Borges,GOL,267,0,0,0,0,...,0,0,0,0,0,0,0,0.00,1.00,0.00

In [13]:
roundN.to_csv("2019_round"+ round_num + "_scouts.csv", index=False)

In [16]:
status = roundN[["rodada_id", "atleta_id", "status_id"]]

In [17]:
status.rodada_id = status.rodada_id + 1
now = dt.now()
status["query_time"] = dt(now.year, now.month, now.day, now.hour, now.minute, now.second)
status.status_id = status.status_id.apply(lambda x: status_id[str(x)])

C:\Users\fellipefcm\Anaconda3\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\Users\fellipefcm\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
status = status[["rodada_id", "query_time", "atleta_id", "status_id"]]
status.columns = ["round_num", "query_time", "player_id", "status_id"]
status.head()

   round_num          query_time  player_id  status_id
0         18 2019-09-03 22:00:15      37281  ProvÃ¡vel
1         18 2019-09-03 22:00:15      38144  ProvÃ¡vel
2         18 2019-09-03 22:00:15      37246  ProvÃ¡vel
3         18 2019-09-03 22:00:15      38001       Nulo
4         18 2019-09-03 22:00:15      69288       Nulo

In [19]:
filename = "../status/2019_round"
if status.round_num[0] < 10:
    filename = filename + "0" + str(status.round_num[0]) + "_status.csv"
else:
    filename = filename + str(status.round_num[0]) + "_status.csv"

status.to_csv(filename, index=False)